/*Mobile Design */
* {
    box-sizing:content-box;
    margin: 0;
}
body{
    background-color: #494d5f;
    color: #e5eaf5;
}
h1{
    border: thick double #a0d2eb;
    text-align:center;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family:Arial, Helvetica, sans-serif;
}
.container1{
    margin: 10px;
    border: 2px solid #a0d2eb;
    box-sizing: border-box;
}
.container2{
    margin: 10px;
    border: 2px solid #a0d2eb;
    box-sizing: border-box;
}
h2{
    box-sizing: border-box;
    border: 2mm ridge #a0d2eb;
    text-align: center;
    font-weight: 100;
    font-family:Arial, Helvetica, sans-serif;
}
p{
    font-family:Arial, Helvetica, sans-serif;
}
ul{
    font-family:Arial, Helvetica, sans-serif;
}
li{
    font-family: Arial, Helvetica, sans-serif;
}
a:hover{
    color: #8458b3;
}
.underline{
    text-decoration: double underline #d0bdf4;
}
#font{
    font-family:Arial, Helvetica, sans-serif;
    font-style: oblique;
}