/*Mobile Design */
* {
    box-sizing:content-box;
    margin: 0;
    display: grid;
}
body{
    background-color: #494d5f;
    color: #e5eaf5;
}
h1{
    border: thick double #a0d2eb;
    text-align:center;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family:Arial, Helvetica, sans-serif;
}
.menu{
    text-align:left;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #a0d2eb;
    box-sizing: border-box;
}
.container1{
    margin: 10px;
    border: 2px solid #a0d2eb;
    box-sizing: border-box;
}
.container2{
    margin: 10px;
    border: 2px solid #a0d2eb;
    box-sizing: border-box;
}
.container3{
    margin: 10px;
    border: 2px solid #a0d2eb;
    box-sizing: border-box;
}
h2{
    box-sizing: border-box;
    border: 2mm ridge #a0d2eb;
    text-align: center;
    font-weight: 100;
    font-family:Arial, Helvetica, sans-serif;
}
p{
    font-family:Arial, Helvetica, sans-serif;
}
ul{
    font-family:Arial, Helvetica, sans-serif;
    color: #e5eaf5;
    list-style-type: circle;
}
li{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: #e5eaf5;
    display: list-item;
}
a:hover{
    color: #8458b3;
}
.underline{
    text-decoration: double underline #d0bdf4;
}
#font{
    font-family:Arial, Helvetica, sans-serif;
    font-style: oblique;
}
/* Desktop Multi-Column Design */
@media (min-width: 1000px) {
#wrapper{
    display: grid;
    width: 80%;
    margin: auto;
    max-width: 2000px;
    grid-template-columns: 1fr 1fr 1fr;
    }
}
footer{
    text-align: center;
}
a{
    color:#c19fe6
}