body{
    background-color: darkred;
    color: whitesmoke;
}
h1{
    border: thick double yellow;
    padding-left:30%;
    font-family:Arial, Helvetica, sans-serif;
}
h2{
    border-bottom: 2mm ridge orange;
    font-weight: 100;
    font-family:Arial, Helvetica, sans-serif;
}
p{
    font-family:Arial, Helvetica, sans-serif;
}
ul{
    font-family:Arial, Helvetica, sans-serif;
}
a:hover{
    color: brown;
}
.underline{
    text-decoration: double underline yellowgreen;
}
#font{
    font-family:Arial, Helvetica, sans-serif;
    font-style: oblique;
}