body{
    background-color: #c9af98;
}
p{
    text-align: left;
    font-weight: bold;
}
h1{
    text-align: left;
}
.content-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 15px;
    min-width: 400px;
}
.content-table td:first-child{
    border: 2px solid black;
    font-weight: bold;
}
.content-table thead tr {
    background-color:#ab7a49;
    text-align: center;
    border: 2px solid black;
    font-weight: bold;
}
.content-table tbody tr {
    border: 2px solid black;
    text-align: center;
}
.content-table td {
    padding: 20px 15px;
}
.content-table tbody tr:nth-child(1){
    background-color: #ff6347;    
}
.content-table tbody tr:nth-child(2){
    background-color: #bed390;
}
.content-table tbody tr:nth-child(3){
    background-color:#ffa600;
}
.content-table tbody tr:nth-child(4){
    background-color:#88573e;
}
.content-table tbody tr:nth-child(5){
    background-color:#ab7a49;
}
.bar1, .bar2, .bar3{
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
    display: block;
    cursor: pointer;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #483C32;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
@media only screen and (max-width: 480px) {
    .content-table{
        overflow-x: auto;
        display: block;
    }
}