body{
    background-color: #c9af98;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #452c63;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(150, 148, 145);
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

main {
    transition: margin-left 0.5s;
    padding: 20px;
}

.bar1, .bar2, .bar3{
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
    display: block;
    cursor: pointer;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.center{
    display:block;
    margin-left: auto;
    margin-right: auto;
}
h1{
    border: thick double #452c63;
    text-align: center;
    font-family:sans-serif;
}
h2{
    border-bottom: thick double #452c63;
    font-weight: 100;
    font-family:sans-serif;
}
p{
    font-family:sans-serif;
}
footer{
    text-align: center;
}
a:hover{
    color: lightsteelblue;
}